#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formulario {
  display: block;
}

.area-print {
  display: none;
}

button {
  margin-right: 8px;
  background-color: rgb(229, 231, 235);
}

img {
  width: 300px;
  height: auto;
}

@media print {
  @page {
    size: A4;
    margin-left: 1cm;
    margin-right: 1cm;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #root {
    /* position: relative;
    margin-top: -600px;
    margin-left: 30px; */
    margin: 0;
    padding: 0;
  }

  * {
    font-weight: bold;
    color: black;
  }

  .formulario {
    display: none;
  }

  .area-print {
    display: block;
  }

  .capa {
    min-height: 297mm;

    page-break-after: always;
    break-after: page;

    page-break-inside: avoid;
    break-inside: avoid;

    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .capa img {
    display: block;
    /* margin: 0 auto 30px auto; */
    margin-bottom: 30px;
    margin-left: 470px;
    width: 230px;
    height: auto;
  }

  .capa h1 {
    margin: 30px 0 36px 0;
    text-align: center;
    text-decoration: underline;
    font-size: 37px;
  }

  .capa p {
    margin: 16px 0;
    font-size: 30px;
    line-height: 0.2;
  }

  .capa p:last-child {
    margin-top: 50px;
  }

  /* .capa:last-child {
    page-break-after: auto;
  } */
}
